- partial_data_src_url = url_for(project_lists_path({:project_list_id => model.id, :skip_wrapper => true}))
%span.partial{'data-src' => partial_data_src_url}
  = render :partial => 'project_lists/project_list_list', :locals => {:models => (model.project_lists.where(:deleted_at => nil)), :project => model}