.bundle
db/*.sqlite3
log/*.log
tmp/**/*
test/dummy/public/system/documents/**/*
coverage/
test/dummy/log
test/dummy/db
db/geo/GeoLiteCity-Location.csv
db/geo/GeoLiteCity-Location.original.csv
db/geo/countries.csv
db/geo/states.csv
tmtags
Gemfile.lock
pkg
