%span.fluxx-card-listing-entry-line1
  = model.first_name
  = model.last_name
%span.fluxx-card-listing-entry-line2
  = model.primary_user_organization.title if model.primary_user_organization
%span.fluxx-card-listing-entry-line3
  = model.primary_user_organization.organization_name if model.primary_user_organization