%li.entry{href="", :class => "to-admin"}
  Record Management
%li.entry{href="", :class => "to-admin"}
  Plug Ins
%li.entry{href="", :class => "to-admin"}
  Users & Roles
%li.entry{href="", :class => "to-admin"}
  Data Import
%li.entry{href="", :class => "to-admin"}
  Letters & Templates
%li.entry{href="", :class => "to-admin"}
  Emails & Alerts
%li.entry{href="", :class => "to-admin"}
  Global Settings
%li.entry{href="", :class => "to-admin"}
  Billing
