%h1.titlebar Fluxx Administration
.admin-menu
  %ul.list
    =render :partial => "admin_item_list.html.haml"

.admin-workarea
  %ul
    %li{:class => "card ignore-empty admin-card", :id => "fluxx-admin-card"}
      .detail.area.partial.fluxx-admin-partial
        .body
  %ul{:id => "admin-buttons", :class => "buttons"}
    %li
      =link_to "Save Changes", "#", :class => "admin-submit"
      =link_to "Cancel", "#", :class => "refresh-partial"

