- partial_data_src_url = url_for(wiki_documents_path({:project_id => model.id, :skip_wrapper => true}))
%span.partial{'data-src' => partial_data_src_url}
  = render :partial => 'wiki_documents/wiki_document_list', :locals => {:models => (model.wiki_documents), :related_model => model}