- wiki_title ||= 'Wiki Document'
- if model.id
  - partial_data_src_url = url_for(wiki_documents_path({:documentable_id => model.id, :documentable_type => model.class.name, :skip_wrapper => true, :wiki_title => wiki_title}))
  %div{:class => 'partial wiki-document-partial-span', 'data-src' => partial_data_src_url}
    = render :partial => 'wiki_documents/wiki_document_list', :locals => {:models => (model.wiki_documents), :documentable => model, :wiki_title => wiki_title}
