%table.tabular{:cellspacing => 0}
  %thead
    %tr
      %th
        %span Documents
        .actions= link_to image_tag('/fluxx_engine/theme/default/images/icons/add.png', :class=> 'add-button'), model_documents_path(:model_document => {:documentable_id => model.id, :documentable_type => model.class.name}), :class => 'to-upload', 'data-is-success' => '.show', 'data-on-success' => 'refreshCaller,close', 'data-extensions'.to_sym=>"txt,zip,gz,pdf,png,jpg,gif", :title => "Add Document"
  %tbody.partial{'data-src' => url_for(model_documents_path({:documentable_id => model.id, :documentable_type => model.class.name}))}
    - if (model.respond_to?(:model_documents) ? model.model_documents.empty? : true)
      %tr
        %td No Documents
    - else
      - model.model_documents.sort_by{|doc| (-1 * doc.created_at.to_i) if doc.created_at}.each do |doc|
        = render :partial => "model_documents/model_document_list", :locals => { :model => doc}
