- document_types = ModelDocumentType.where(:model_type => model.documentable_type).all
= form.input :model_document_type, :label => "Document Type", :as => :select, :collection => document_types.map{|dt| [dt.name, dt.id]}

= form.commit_button
