- project = nil unless defined?(:project)
- unless project
  - if params[:project_id]
    - project = Project.find(grab_param(:project_user, :project_id)) rescue nil
%table.tabular{:cellspacing => 0}
  - if project
    %thead
      %tr
        %th
          %span People
          .actions= link_to image_tag('/images/fluxx_engine/theme/default/icons/add.png', :class=> 'add-button'), new_project_user_path(:project_user => {:project_id => project.id}), :class => 'to-modal', 'data-is-success' => '.show', 'data-on-success' => 'refreshCaller,close', :title => "link a person"
  %tbody
    - if !models || models.empty?
      %tr
        %td= "No People"
    - else
      - models.each do |model|
        %tr
          %td
            = model.user.full_name if model.user
            - if current_user.has_delete_for_model? model
              %span.delete-button= link_to image_tag("/images/fluxx_engine/theme/default/icons/delete.png"), project_user_path(model), {:class => 'as-delete', 'data-on-success' => 'refreshCaller'}
